main {
	background: none repeat scroll 0 0 #FFFFFF;
	border: 1px solid #FFFFFF;
	text-align: left;
	width: 100%;
  hyphens: auto;
  hyphenate-character: '';
  -webkit-hyphenate-character: '';
}

body {
	font-size: 1em;
	line-height: 1.5em;
	background: none repeat scroll 0 0 #eee;
	color: #252525;
	font-family: "Nupuram", "Manjari", sans;
	text-align: center;

}

@media screen and (min-width: 801px) {
  body {
    margin-left: 25%;
    margin-right: 25%;
  }
  img{
    margin: 10px;
    width: 100%;
  }
  p {
    margin: 0 10%;
  }

  ol, ul, li,  h2, h3,h4, th, td, var, blockquote, pre {
    margin: 0;
    padding:10;
    line-height:150%;
    margin-left: 10%;
    margin-right: 10%;
    text-align: justify;
  }

}
@media screen and (max-width: 800px) {
  body {
    margin-left: 0;
    margin-right: 0;
  }
  img{
    margin: 0;
    width: 100%;
  }
  p {
    margin: 4px;
  }
  ol, ul, li,  h2, h3,h4, th, td, var, blockquote, pre {
    margin: 4px;
    padding: 10px;
    line-height:150%;
    text-align: justify;
  }

}

h1,h5 {
	text-align: center;
}


p,li{
	font-size: 1em;
	text-indent: 15px;
	line-height:1.5em;
	text-align: justify;

}

blockquote {
font-size: 120%;
margin-left: 20%;
margin-right: 20%;
border-left: 5px solid
}
div.image p{
	text-align: center;
	font-size: 100%;
}
div.sidebox{
	float:right;
	width: 50%;
	border-top: 5px solid;
	background-color: antiquewhite;
	margin-left:20px;
}
div.box{
	border-top: 5px solid;
	background-color: antiquewhite;
	margin-left:20px;
}


table {
  max-width: 100%;
  background-color: transparent;
  border-collapse: collapse;
  border-spacing: 0;
}

.table {
  width: 100%;
  margin-bottom: 18px;
}

.table th,
.table td {
  padding: 8px;
  line-height: 18px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

.table th {
  font-weight: bold;
}

.table thead th {
  vertical-align: bottom;
}

.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
  border-top: 0;
}

.table tbody + tbody {
  border-top: 2px solid #dddddd;
}

.table-condensed th,
.table-condensed td {
  padding: 4px 5px;
}

.table-bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapsed;
  border-left: 0;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.table-bordered th,
.table-bordered td {
  border-left: 1px solid #dddddd;
}

.table-bordered caption + thead tr:first-child th,
.table-bordered caption + tbody tr:first-child th,
.table-bordered caption + tbody tr:first-child td,
.table-bordered colgroup + thead tr:first-child th,
.table-bordered colgroup + tbody tr:first-child th,
.table-bordered colgroup + tbody tr:first-child td,
.table-bordered thead:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child th,
.table-bordered tbody:first-child tr:first-child td {
  border-top: 0;
}

.table-bordered thead:first-child tr:first-child th:first-child,
.table-bordered tbody:first-child tr:first-child td:first-child {
  -webkit-border-top-left-radius: 4px;
          border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
}

.table-bordered thead:first-child tr:first-child th:last-child,
.table-bordered tbody:first-child tr:first-child td:last-child {
  -webkit-border-top-right-radius: 4px;
          border-top-right-radius: 4px;
  -moz-border-radius-topright: 4px;
}

.table-bordered thead:last-child tr:last-child th:first-child,
.table-bordered tbody:last-child tr:last-child td:first-child {
  -webkit-border-radius: 0 0 0 4px;
     -moz-border-radius: 0 0 0 4px;
          border-radius: 0 0 0 4px;
  -webkit-border-bottom-left-radius: 4px;
          border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
}

.table-bordered thead:last-child tr:last-child th:last-child,
.table-bordered tbody:last-child tr:last-child td:last-child {
  -webkit-border-bottom-right-radius: 4px;
          border-bottom-right-radius: 4px;
  -moz-border-radius-bottomright: 4px;
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
  background-color: #f9f9f9;
}

.table tbody tr:hover td,
.table tbody tr:hover th {
  background-color: #f5f5f5;
}


.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #eee;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}


footer {
  background: antiquewhite;
}

@font-face {
	font-family: 'Nupuram';
	font-display: swap;
	font-weight: 400;
	src: url(https://santhoshtr.gitlab.io/nupuram/fonts/webfonts/Nupuram-VF.woff2?v=1.100) format('woff2');
}
