a.footnote-ref::before {
  content: "[";
}

a.footnote-ref::after {
  content: "]";
}

h1 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  line-height: 1.7;
  a {
    word-break: break-word;
  }
}

figure {
  margin: 2em 0;
  padding: 0;

  figcaption {
    text-align: left;

    p {
      line-height: 1.5;
    }
  }
}

.align-right {
  float: right;
  width: 50%;
}

.align-middle {
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  .align-right {
    float: none;
  }
  .align-middle {
    width: 100%;
  }
}
