a.footnote-ref::before {
  content: "[";
}

a.footnote-ref::after {
  content: "]";
}

h1 {
  text-wrap: balance;
}

p {
  text-wrap: pretty;
  line-height: 1.7;

  a {
    word-break: break-word;
  }
}

figure {
  margin: 2em 0;
  padding: 0;

  figcaption {
    text-align: left;

    p {
      line-height: 1.5;
    }
  }
}

.align-right {
  float: right;
  width: 50%;
}

.align-middle {
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 767px) {
  .align-right {
    float: none;
  }

  .align-middle {
    width: 100%;
  }

  p>aside {
    display: none;
  }

  .toc {
    display: none;
  }
}

/* Side notes */
body {
  anchor-name: --body;
  --toc-top-position: 10ch;
}

html {
  container-type: scroll-state;
  container-name: scroller;
}

@container scroller scroll-state(scrollable: top) {
  body {
    --toc-top-position: 1ch;
  }
}

article {
  anchor-name: --article;
}

@supports (anchor-name: --article) {
  .toc {
    position: fixed;
    left: 0;
    right: calc(anchor(--article left) + 3em);
    top: calc(anchor(--body top) + var(--toc-top-position));
    font-size: 0.85em;
    background: var(--theme) !important;
    border: none;
    scroll-target-group: auto;

    a {
      opacity: 0.8;

      &:target-current {
        /* Styles for the currently active link */
        font-weight: bold;
        opacity: 1;
        ;
      }
    }
  }
  .sidenote {
    position: absolute;
    anchor-name: --sidenote;
    top: anchor(top);
    bottom: auto;
    left: calc(anchor(--article right) + 1em);
    clear: right;
    --sidenote-width: 40ch;
    --sidenote-gap: 35px;
    margin-right: calc(-1 * var(--sidenote-width) - var(--sidenote-gap));
    margin-left: var(--sidenote-gap);
    margin-top: 0.3rem;
    margin-bottom: 20px;
    position: relative;
    float: right;
    width: var(--sidenote-width);
    font-size: 0.8em;
    line-height: 1.4;
    text-align: start;
    text-wrap: pretty;
    opacity: 0.8;
    text-indent: 0;

    &.left {
      right: calc(anchor(--article left) - 1em);
    }

    &~.sidenote {
      top: calc(anchor(--sidenote bottom) + 1.5em);
    }
  }

