:root {
  /* Nord Colors: https://www.nordtheme.com/docs/colors-and-palettes */
  --nord-polar-night-1: hsl(220, 16%, 22%);
  --nord-polar-night-2: hsl(222, 16%, 28%);
  --nord-polar-night-3: hsl(220, 17%, 32%);
  --nord-polar-night-4: hsl(220, 16%, 36%);

  --nord-snow-storm-1: hsl(219, 28%, 88%);
  --nord-snow-storm-2: hsl(218, 27%, 92%);
  --nord-snow-storm-3: hsl(218, 27%, 94%);

  --nord-frost-1: hsl(179, 25%, 65%);
  --nord-frost-2: hsl(193, 43%, 67%);
  --nord-frost-3: hsl(210, 34%, 63%);
  --nord-frost-4: hsl(213, 32%, 52%);

  --primary-color: light-dark(var(--nord-frost-4), var(--nord-snow-storm-3));
  --border-color: light-dark(
    var(--nord-snow-storm-1),
    var(--nord-polar-night-4)
  );
  --surface-1: light-dark(var(--nord-snow-storm-3), var(--nord-polar-night-1));
  --surface-2: light-dark(var(--nord-snow-storm-2), var(--nord-polar-night-2));
  --text-1: light-dark(var(--nord-polar-night-1), var(--nord-snow-storm-3));
  --text-2: light-dark(var(--nord-polar-night-2), var(--nord-snow-storm-2));
  color-scheme: light dark;
}

* {
  box-sizing: border-box;
}
/* Dark mode */
@media screen {
  [data-theme="dark"] {
    color-scheme: dark;
  }
  [data-theme="light"] {
    color-scheme: light;
  }
}
body {
  font-family: "Noto Sans", sans-serif;

  line-height: 1.7;
  margin: 0;
  padding: 0;
  accent-color: var(--primary-color);
  color: var(--text-1);
  background-color: var(--surface-1);
}

header {
  position: sticky;
  top: 0;
  opacity: 1;
  background-color: var(--surface-2);
  border-bottom: 1px solid var(--border-color);
  z-index: 2;
  margin: 0;
  padding: 0.25em 1em;
  h1 {
    margin: 0;
  }
}

article {
  max-width: 100%;
  margin: 0 auto;
  padding: 0 1em;
  display: grid;
  gap: 1em;
  grid-template-columns:  60ch ;
  > * {
    grid-column: 2/2;
    max-inline-size: 60ch;
  }
}

h2 {
  font-size: 2em;
  line-height: 1.5;
  border-bottom: 1px solid var(--border-color);
}
p {
  font-size: 1em;
  line-height: 1.7;
  margin: 0;
  padding: 0;
  text-wrap: pretty;
  max-inline-size: 60ch;
}

img {
  max-width: 100%;
  height: auto;
}

.references {
  font-size: 0.9em;
  line-height: 2;
}

blockquote {
  font-size: 1em;
  line-height: 1.7;
  margin: 1em 0;
  padding: 1em;
  border-left: 1px solid var(--text-2);
  background-color: var(--surface-2);
  p {
    margin: 1em 0;
  }
}

aside {
  font-style: italic;
  font-size: 1em;
  text-wrap: pretty;
}

aside.left {
  grid-column: 1;
}

aside.right {
  grid-column: 3;
}

#dark-mode-toggle {
  position: absolute;
  top: 1lh;
  right: 1ch;
}
wiki-article {
  display: block;
  margin: 1em;
  max-inline-size: clamp(600px, 100vw,60ch);
}

footer {
  padding: 1em;
  background-color: var(--surface-2);
  border-top: 1px solid var(--border-color);
  text-align: center;
}
@media (orientation: portrait) {
  article {
    grid-template-columns: auto;
    padding: 1em;
    margin: 0;
    > * {
      grid-column: 1;
    }
  }

  aside.left {
    grid-column: 1;
  }

  aside.right {
    grid-column: 1;
  }
  wiki-article {
    display: none;
  }
}

@media screen {
  .print-only {
    display: none;
  }

}

@media print {
  .print-only {
    display: block;
  }
  article{
    display: none;
  }
}