  :root {
    --font-family-sans-serif: system-ui, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, Helvetica, Arial, "Helvetica Neue", sans-serif;
    --font-family-monospace: ui-monospace, SFMono-Regular, "SF Mono", Menlo, Consolas, "Liberation Mono", monospace;
    --border-radius: 0.5rem;
    --spacing-xs: 0.25rem;
    --spacing-sm: 0.5rem;
    --spacing-md: 0.5rem;
    --spacing-lg: 1rem;
    --spacing-xl: 1rem;
    --font-size-sm: 0.875rem;
    --font-size-base: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-2xl: 1.5rem;
  }



body {
  margin: auto;
  font-family: Malini, Manjari, sans-serif;
  font-size: 18px;
display: grid;
gap: 1em;


  > header {
    text-align: center;
    h1, h2, h3 {
      text-wrap: balance;

}
  }

}
main {
  display: grid;

  grid-template-columns: 1fr 2fr;
nav {
ul{
  list-style: none;
   position: sticky;
  top:2em;
a{
  text-decoration: none;
  color: currentColor;
  line-height: 2;
}
}
}
}
article {
  max-width: 75ch;
  display: grid;
  gap: 1em;
  margin-block-end: 4em;
  counter-reset: sidenote-counter figure-counter;
  p {
  font-size: 1em;
    text-wrap: pretty;
    line-height: 1.5;
    text-align: justify;
     text-indent: 2ch;
    max-width:75ch;
    hyphens: auto;hyphenate-limit-chars: 6 3 2;
    -webkit-hyphenate-character: "";
    hyphenate-character: "";

    label.sidenote-number {
      display: inline-block;
      max-height: 2rem;
      cursor: pointer;
      vertical-align: super;
    }

    .sidenote {
      clear: right;
      --sidenote-width: 200px;
      --sidenote-gap: 35px;

      margin-right: calc(-1 * var(--sidenote-width) - var(--sidenote-gap));
      margin-left: var(--sidenote-gap);
      margin-top: 0.3rem;
      margin-bottom: 20px;
      font-size: 0.9rem;
      line-height: 1.4;
      vertical-align: baseline;
      position: relative;
      text-align: start;
      opacity: 0.8;
      &:before {
        content: counter(sidenote-counter);
        vertical-align: super;
        padding-right: 0.2rem;
        font-size: 0.8rem;
        top: -0.4rem;
        left: -0.1rem;
      }
    }
    .sidenote-number {
      counter-increment: sidenote-counter;
      pointer-events: none;
      &:after {
        content: counter(sidenote-counter);
        font-size: 0.8rem;
        top: -0.5rem;
        left: -0.05rem;
           opacity: 0.8;
      }
    }
  }
  figure {
    position: relative;
    counter-increment: figure-counter;
    /* Clear floats to ensure proper layout */
    overflow: visible;
    /* Ensure figure establishes a block formatting context */
    display: block;
  
    margin: 0;
    img{  max-width: 75ch;}
    figcaption{
    text-align: center;
    }
  }
  .note{
        border-left: 8px solid steelblue;
        padding: 2em;
        background: lemonchiffon;
        color: black;
  }
  @media (min-width: 1170px) {
    .sidenote {
      float: right;
      width: var(--sidenote-width);
      &.right{
        float: right;
      }
      &.left{
        float: left;
      }
    }
  }
  @media (max-width: 1170px) {
    .sidenote {
      display: block !important;
      position: static;
      float: none;
      width: 95%;
      margin: 1rem 2.5%;
      clear: both;
    }
  }
}
